body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    text-align: center;
    
}

#display{
    color: #fff;
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
}


#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}



button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}


button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 50%);
}

.operator{
    background-color: hsl(39, 100%, 55%);
}
.operator:hover{
    background-color: hsl(39, 100%, 65%);
}

.operator:active{
    background-color: hsl(39, 100%, 75%);
}


























































/* body{
    height: 100vh;
    background-color: hsl(0, 1%, 17%);
    display: flex;
    justify-content: center;
    align-items: center;
}


#mybutton{

    text-align: center;

    font-size: 5rem;
    border: none;
    background: transparent;
    backdrop-filter: blur(5px);
    background-color: hsl(0, 1%, 16%);
    color: white;
    text-shadow: 5px 5px 10px  green, 10px 3px 5px yellow;
    width: 100%;
    cursor: pointer;
    /* transition: 2s; */
/* }

#mybutton:hover{
    background-color:hsl(0, 1%, 5%) ;
} */ 